.card-template {
  margin: 10% 6rem;
  color: #2a2a2a;
}

.card-template h1 {
  font-size: 2.6rem;
  font-weight: 620;
  line-height: 1.2;
  text-align: justify;
  margin-left: 9.8rem;
}

.medium-font {
  color: black;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 1.125rem;
  text-align: left;
}

.project-card {
  margin-top: 3rem;
  margin-left: 9.8rem;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-around;
  margin-block-end: 2rem;
}

.t-card {
  width: 90%;
  /* height: 400px; */
  text-align: start;
  box-shadow: 0 5px 35px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.9rem;
  margin-block-end: 4rem;
}

.t-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
  float: right;
}

.t-image img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

.t-image:hover img {
  transform: scale(1.3);
}

.t-card h4 {
  font-size: 1.3rem;
  padding: 0.9rem 0 0.2rem 0;
}

.project-para {
  margin-top: 1rem;
  text-align: justify;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  line-height: 2.3rem;
}

.team {
  line-height: 2.3rem;
}
.parap-br {
  padding-top: 2%;
}
.content-format {
  /* padding-left: 2%; */
}

@media screen and (max-width: 850px) {
  .card-template {
    /* margin: 8rem 2rem; */
    margin: 10% 2rem;
  }

  .project-card {
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 8rem;
  }

  .t-card {
    width: 100%;
    margin-top: 2rem;
    /* margin-bottom: 1.5rem; */
  }
}
